<!--student admission list full details for verification -->
<style>
.admissionList td,th,button{
    color: black;
}
.admissionList  tr{
    border-bottom:2px solid black;
}

</style>

<section class="admissionList">
    
    <div class="wrapper px-5">
   <table class="table">
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">Department</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each userData}}
    <tr>
     <td>Name</td>
      <td>{{this.Name}}</td>
    </tr>
      <tr>
     <td>AdmissionNo</td>
      <td>{{this.AdmissionNo}}</td>
    </tr>
      <tr>
     <td>Department</td>
      <td>{{this.Department}}</td>
    </tr>
      <tr>
     <td>Local guardian</td>
      <td>{{this.LocalGuardian}}</td>
    </tr>
      <tr>
     <td>Place</td>
      <td>{{this.Place}}</td>
    </tr>
      <tr>
     <td>Distance</td>
      <td>{{this.Distance}}</td>
    </tr>
      <tr>
     <td>Travelling time</td>
      <td>{{this.TravellingTime}}</td>
    </tr>
      <tr>
     <td>Address</td>
      <td>{{this.Address}}</td>
    </tr>
      <tr>
     <td>Pin code</td>
      <td>{{this.Pincode}}</td>
    </tr>
      <tr>
     <td>Phone</td>
      <td>{{this.Phone}}</td>
    </tr>
      <tr>
     <td>Email address</td>
      <td>{{this.eMail}}</td>
    </tr>
    <td>Guardians phone</td>
      <td>{{this.GuardianPhone}}</td>
    </tr>
    
   {{/each}}
    
  </tbody>
</table>
<form>
   <button formaction="/admin/admitStudent" formmethod="post"  type="submit" value="{{this.AdmissionNo}}" name="adNo">Admit</button>
    
</form>
</div> 
</section>