<!--student admission list for verification -->

<style>
  .admissionList {
    min-height: 90vh;
    background-color: rgb(207, 206, 206);
  }

  .admissionListHeader h1 {
    color: #0a4b69;
  }

 

  .admissionList td {

    color: black;
  }

  .admissionList button {
    color: black;
    width: 90%;
  }
  .admissionList table tr{
    border-top: 2px solid black;
    height: 3em;
  }
  .admissionList td {
    border: 0;
  }


</style>

<section class="admissionList">
  <div class="admissionListHeader py-2">
    {{#if messageAlert}}
    {{#if messageAlert.type}}
    <div class="success-alert alert">
        <strong>Success!</strong>&nbsp{{messageAlert.message}}
    </div>
    
    {{else}}
     <div class="failed-alert alert">
        <strong>Failed!</strong>&nbsp{{messageAlert.message}}
    </div>
    {{/if}}
    
    {{/if}}
    <h1 align="center">Admission List</h1>
  </div>
  <table border="" style="margin-left: 5vw;">
    <div class="row">
      <tr class="bg-info" >
        <td style="width:40vw;">Name</td>
        <td style="width:30vw;">Department</td>
        <td style="width:10vw;"></td>
        <td style="width:10vw;"></td>
      </tr>
    </div>

    {{#each userData}}
    {{#if userData.AdmissionStatus }}
    <tr>
      <td>admission true</td>
    </tr>
    {{else}}
    <tr>

      <td>{{this.Name}}</td>
      <td>{{this.Department}}</td>
        <td>
          <a href="/admin/admissionUserInfo/{{this.AdmissionNo}}" class="btn btn-info">View more</a>
        <td>
          <a href="/admin/viewRoomInfo/{{this.AdmissionNo}}" class="btn btn-primary">Admit</a> 
        </td>
    </tr>
    {{/if}}
    {{/each}}
  </table>
</section>