<!--tabular view of rooms for admitting students-->
<!--style for roomInfo-->
<style>
  .comfirmBox{
    display: none;
   
  }
  .comfirmBox h3,h4{
    color: black;
  }
 
</style>

<section class="room-info">
    {{#if messageAlert}}
    {{#if messageAlert.type}}
    <div class="success-alert alert">
        <strong>Success!</strong>&nbsp{{messageAlert.message}}
    </div>
    
    {{else}}
     <div class="failed-alert alert">
        <strong>Failed!</strong>&nbsp{{messageAlert.message}}
    </div>
    {{/if}}
    
    {{/if}}

    <div class="room-info-header py-3">
        <h2 align="center">Room Info</h2>
    </div>

   <table class="table table-striped RoomInfoTable">
  <thead>
    <tr>
      <th scope="col">Room No</th>
      <th scope="col">Floor No</th>
      <th scope="col">Available Rooms</th>
      <th scope="col">Admit</th>
    </tr>
  </thead>
  <tbody>
    {{#each RoomInfo}}
    <tr>
      <td>{{this.RoomNo}}</td>
      <td>{{this.FloorNo}}</td>
      <td>{{this.AvailableBeds}}</td>
      <td>
        <a class="btn btn-primary" onclick="comfirmClick()">Admit</a>
    
      </td>
    
    </tr>
    <div class="card text-center comfirmBox  mb-5 mx-5">
      <div class="card-header">
        <h3>Alert!</h3>
      </div>
    
      <div class="card-body">
        <h4 class="card-text my-3">Are you sure,you want to admit the student<br>
          in Room {{this.RoomNo}}
        </h4>
          <a href="/admin/roomInfoGoback" class="btn btn-primary">Go back</a> 
        <a href="/admin/admitStudent/{{this.RoomNo}}" class="btn btn-primary">Admit</a>
       
      </div>
    
    </div>
    {{/each}}
    
  </tbody>
</table>
</section>