<section class="room-info">
    {{#if messageAlert}}
    {{#if messageAlert.type}}
    <div class="success-alert alert">
        <strong>Success!</strong>&nbsp{{messageAlert.message}}
    </div>
    
    {{else}}
     <div class="failed-alert alert">
        <strong>Failed!</strong>&nbsp{{messageAlert.message}}
    </div>
    {{/if}}
    
    {{/if}}

    <div class="room-info-header py-3">
        <h2 align="center">Room Info</h2>
    </div>

   <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Room No</th>
      <th scope="col">Floor No</th>
      <th scope="col">Available Rooms</th>
      <th scope="col">Admit</th>
    </tr>
  </thead>
  <tbody>
    {{#each RoomInfo}}
    <tr>
            <td>{{this.RoomNo}}</td>
            <td>{{this.FloorNo}}</td>
            <td>{{this.AvailableBeds}}</td>
            <td>
            <a href="/admin/admitStudent/{{this.RoomNo}}" class="btn btn-primary">Admit</a>
            </td>
            
    </tr>
    {{/each}}
    
  </tbody>
</table>
</section>